# Core Build Tools (important for deployment)
pip>=25.2
setuptools>=65.5.0
wheel>=0.40.0

# App Dependencies
Flask==3.0.3
flask-cors==4.0.0
pandas==2.2.2
python-dotenv==1.0.1
firebase-admin==6.4.0
requests==2.31.0
